@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto; 
    max-width: 1000px;
}

.cont-border{
    border-radius: 50px;
    background-color: white;
}

.SignInHeader{
    margin-top: 35px;
    margin-right: 40px;
}

.Sign{
    display: flex;
    justify-content: left;
    align-items: center;
}

.bg{
    width: 21.063em;
    height: 29em;
}

.logo{
    width: 60px;
    height: 60px;
}

.title{
    color: #FCBF15;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle{
    color: #121212;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signin{
    color: #121212;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
}

.text1{
    color: #121212;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.google{
    width: 480px;
}

.help{
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* sign in option */

.button{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 203px;
height: 72px;
border-radius: 15px;
border: 2px solid #8B8B8B;
text-align: center; 
margin: auto;
vertical-align:middle;
}

.btnlogin{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 150px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #8B8B8B;
    text-align: center; 
    margin: auto;
    vertical-align:middle; 
    margin-top: 12px;
    margin-left: 120px;

}

.formtext{
    color: #121212;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.captcha{
    width: 100px;
    height: 42px;
    transform: scale(0.75);
    transform-origin: 0 0;
}

.captchasign{
    width: 100px;
    height: 42px;
    margin-bottom: 30px;
    transform: scale(0.75);
    transform-origin: 0 0;
}

/* sign in option tablet*/
@media screen and (max-width: 912px){
    .bg{
        display: none;
    }

    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: auto; 
        max-width: 600px;
    }

    .SignInHeader{
        margin-top: 20px;
    }

    .signin{
        text-align: center;
    }

    .text1{
        text-align: center;
        width: 480px;
    }

    .help{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: right;
    }

    .recap{
        max-width: fit-content;
        text-align: center; 
        margin: auto;
        vertical-align:middle;
    }

}

/* ipad mini */
@media screen and (max-width: 768px){
    .bg{
        display: none;
    }

    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: auto; 
        max-width: 580px;
    }
    
    .logo{
        margin-left: 20px;
    }

    .SignInHeader{
        margin-top: 20px;
    }

    .signin{
        text-align: center;
    }

    .text1{
        text-align: center;
        width: 480px;
    }

    .help{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: right;
    }

    .formtext{
        width: 480px;
    }
    
}

/* phone */
@media screen and (min-width: 320px) and (max-width: 667px){
    .bg{
        display: none;
    }

    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: auto;
        max-width: 375px;
    }

    .SignInHeader{
        margin-top: 20px;
    }

    .logo{
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    .title{
        font-size: 20px;
    }

    .subtitle{
        font-size: 20px;
    }

    .signin{
        text-align: center;
    }

    .text1{
        text-align: center;
        width: 359px;
    }

    .button{
        max-width: 170px;
        height: 60px;
        font-size: 14px;
    }

    .help{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: right;
    }

    .formtext{
        max-width: fit-content ;
        text-align: center;
    }

    .captcha{
        width: 100px;
        height: 42px;
        transform: scale(0.75);
        transform-origin: 0 0;
        margin-left: 76px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btnlogin{
        width: 150px;
        height: 42px;
        font-size: 16px;
        margin-left: 100px;
    }
    
}

/* scroll design  */
::-webkit-scrollbar{
    background-color: var(--primary-color);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--tertiary-color);
    border-radius: 10px;
}