:root{
    --primary-color: #121212;
    --secondary-color: #ecf0f1; 
    --tertiary-color: #FCBF15;
    --quaternary-color: #FFFFFF;

    --poppins: 'Poppins', sans-serif;
}

.card{
    width: 23em;
    height: 33.4em;

    background-color: var(--quaternary-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #BDBDBD;

    font-family: var(--poppins);
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1.5em;

}

.card h1{
    font-size: 1.5em !important;
    text-align: center !important;
    text-align: left;
    font-weight: 700;
    line-height: 35px;
}

.card p{
    font-size: 1rem !important;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card button{
    width: 10em;
    height: 3em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--poppins);
    color: var(--quaternary-color);
}

.card img{
    width: 5em;
    height: 5em;
    display: flex;
    flex-shrink: 0;

    position: relative;
    top: -3em;
}

/* section 3 mid-tablet view */
@media screen and (max-width: 1280px) and (min-width: 769px) {
    .card-content{
        display: flex;
        gap: 0.5em;
        padding: 1.5em;

        justify-content: center !important;
        align-items: center !important;
    
    }
    
    .card h1{
        font-size: 1.5rem;
        text-align: left;
        font-weight: 700;
        line-height: 35px;
    }
    
    
    .card img{
        width: 3em;
        height: 3em;
        display: flex;
        flex-shrink: 0;
    
        position: relative;
        top: -2em;
    }
}

/* card in mobile view */
@media screen and (max-width: 768px) {
    .card{
        width: 20em !important;
    }

    .card-content{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    
    }
}